{% extends 'base.html.twig' %}

{% block title %}Titre{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title d-flex flex-row justify-content-between">
                    <h1 class="">Gestion du site</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul>
                    <li><a href="{{ path('admin_categories_list') }}">Gestion des catégories</a></li>
                    <li><a href="{{ path('admin_videos_list') }}">Gestion des vidéos</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
